## Dictionaries

#### Creating a Dictionary

In [4]:
empty_dict = {}
print(empty_dict)
print(type(empty_dict))

{}
<class 'dict'>

In [5]:
empty_dict = dict()

print(empty_dict)
print(type(empty_dict))

{}
<class 'dict'>

In [6]:
person = {
    'first_name': 'John',
    'last_name': 'Doe',
    'age': 30,
    'city': 'Bengaluru',
    'is_married': False,
    'skills': ['Javascript', 'Node', 'React', 'Python', 'MongoDB', 'Postgres', 'AWS'],
    'address': {
        'street': '2nd Main Road',
        'pincode': 560017,
    }
}
print(person)

{'first_name': 'John', 'last_name': 'Doe', 'age': 30, 'city': 'Bengaluru', 'is_married': False, 'skills': ['Javascript', 'Node', 'React', 'Python', 'MongoDB', 'Postgres', 'AWS'], 'address': {'street': '2nd Main Road', 'pincode': 560017}}

In [7]:
len(person)

7

In [9]:
person.keys()

dict_keys(['first_name', 'last_name', 'age', 'city', 'is_married', 'skills', 'address'])

In [10]:
person.values()

dict_values(['John', 'Doe', 30, 'Bengaluru', False, ['Javascript', 'Node', 'React', 'Python', 'MongoDB', 'Postgres', 'AWS'], {'street': '2nd Main Road', 'pincode': 560017}])

#### Accessing Dictionary Items

In [15]:
print('First Name', person['first_name'])
print('Age: ', person['age'])
print('City: ', person['city'])
print('Skills: ', person['skills'])

First Name John
Age:  30
City:  Bengaluru
Skills:  ['Javascript', 'Node', 'React', 'Python', 'MongoDB', 'Postgres', 'AWS']

#### Adding Items to a Dictionary

In [19]:
person

{'first_name': 'John',
 'last_name': 'Doe',
 'age': 30,
 'city': 'Bengaluru',
 'is_married': False,
 'skills': ['Javascript',
  'Node',
  'React',
  'Python',
  'MongoDB',
  'Postgres',
  'AWS'],
 'address': {'street': '2nd Main Road', 'pincode': 560017}}

In [20]:
person['country'] = 'India'
person['professional'] = 'Software Engineer'
person['skills'].append('Gen AI')

person

{'first_name': 'John',
 'last_name': 'Doe',
 'age': 30,
 'city': 'Bengaluru',
 'is_married': False,
 'skills': ['Javascript',
  'Node',
  'React',
  'Python',
  'MongoDB',
  'Postgres',
  'AWS',
  'Gen AI'],
 'address': {'street': '2nd Main Road', 'pincode': 560017},
 'country': 'India',
 'professional': 'Software Engineer'}

#### Modifying Items in a Dictionary

In [21]:
person['age'] = 28
person['first_name'] = 'Dayal'
person['last_name'] = 'Arya'

person

{'first_name': 'Dayal',
 'last_name': 'Arya',
 'age': 28,
 'city': 'Bengaluru',
 'is_married': False,
 'skills': ['Javascript',
  'Node',
  'React',
  'Python',
  'MongoDB',
  'Postgres',
  'AWS',
  'Gen AI'],
 'address': {'street': '2nd Main Road', 'pincode': 560017},
 'country': 'India',
 'professional': 'Software Engineer'}

#### Checking Keys in a Dictionary

In [23]:
print('city' in person)
print('skills' in person)
print('job' in person)

True
True
False

### Removing Key and Value Pairs from a Dictionary
- `pop(key)`: removes the item with the specified key name:
- `popitem()`: removes the last item
- `del`: removes an item with specified key name

In [25]:
person.pop('city')

'Bengaluru'

In [26]:
person

{'first_name': 'Dayal',
 'last_name': 'Arya',
 'age': 28,
 'is_married': False,
 'skills': ['Javascript',
  'Node',
  'React',
  'Python',
  'MongoDB',
  'Postgres',
  'AWS',
  'Gen AI'],
 'address': {'street': '2nd Main Road', 'pincode': 560017},
 'country': 'India',
 'professional': 'Software Engineer'}

In [27]:
person.popitem()

('professional', 'Software Engineer')

In [28]:
person

{'first_name': 'Dayal',
 'last_name': 'Arya',
 'age': 28,
 'is_married': False,
 'skills': ['Javascript',
  'Node',
  'React',
  'Python',
  'MongoDB',
  'Postgres',
  'AWS',
  'Gen AI'],
 'address': {'street': '2nd Main Road', 'pincode': 560017},
 'country': 'India'}

In [29]:
del person['age']

In [30]:
person

{'first_name': 'Dayal',
 'last_name': 'Arya',
 'is_married': False,
 'skills': ['Javascript',
  'Node',
  'React',
  'Python',
  'MongoDB',
  'Postgres',
  'AWS',
  'Gen AI'],
 'address': {'street': '2nd Main Road', 'pincode': 560017},
 'country': 'India'}

#### Changing Dictionary to a List of Items

In [33]:
print('Person as Dictionary:', person)

print('Person as List', person.items())

Person as Dictionary: {'first_name': 'Dayal', 'last_name': 'Arya', 'is_married': False, 'skills': ['Javascript', 'Node', 'React', 'Python', 'MongoDB', 'Postgres', 'AWS', 'Gen AI'], 'address': {'street': '2nd Main Road', 'pincode': 560017}, 'country': 'India'}
Person as List dict_items([('first_name', 'Dayal'), ('last_name', 'Arya'), ('is_married', False), ('skills', ['Javascript', 'Node', 'React', 'Python', 'MongoDB', 'Postgres', 'AWS', 'Gen AI']), ('address', {'street': '2nd Main Road', 'pincode': 560017}), ('country', 'India')])

#### Changing Dictionary to a List of Items

In [35]:
user = {
    'first_name': 'John',
    'last_name': 'Doe',
    'city': 'Bengaluru',
    'skills': ['Node.js', 'React.js']
}

print('Before: ', user)

user.clear()

print('After: ', user)

Before:  {'first_name': 'John', 'last_name': 'Doe', 'city': 'Bengaluru', 'skills': ['Node.js', 'React.js']}
After:  {}

#### Deleting a Dictionary

In [36]:
user = {
    'first_name': 'John',
    'last_name': 'Doe',
    'city': 'Bengaluru',
    'skills': ['Node.js', 'React.js']
}

print('Before: ', user)

del user

print('After: ', user)

Before:  {'first_name': 'John', 'last_name': 'Doe', 'city': 'Bengaluru', 'skills': ['Node.js', 'React.js']}

NameError: name 'user' is not defined

#### Copy a Dictionary

In [37]:
user = {
    'first_name': 'John',
    'last_name': 'Doe',
    'city': 'Bengaluru',
    'skills': ['Node.js', 'React.js']
}

user_copy = user.copy()

print('User: ', user)
print('User Copy', user_copy)

User:  {'first_name': 'John', 'last_name': 'Doe', 'city': 'Bengaluru', 'skills': ['Node.js', 'React.js']}
User Copy {'first_name': 'John', 'last_name': 'Doe', 'city': 'Bengaluru', 'skills': ['Node.js', 'React.js']}

#### Getting Dictionary Values as a List

In [38]:
user = {
    'first_name': 'John',
    'last_name': 'Doe',
    'city': 'Bengaluru',
    'skills': ['Node.js', 'React.js']
}

user.values()

dict_values(['John', 'Doe', 'Bengaluru', ['Node.js', 'React.js']])

In [39]:
user.keys()

dict_keys(['first_name', 'last_name', 'city', 'skills'])

### Exercises:

In [40]:
dog = dict()
print(dog)

{}

In [41]:
dog['name'] = 'Buddy'
dog['color'] = 'Brown'
dog['breed'] = 'Labrador Retriever'
dog['legs'] = 4
dog['age'] = 3

print(dog)

{'name': 'Buddy', 'color': 'Brown', 'breed': 'Labrador Retriever', 'legs': 4, 'age': 3}

In [48]:
student = {
    'first_name': 'John',
    'last_name': 'Doe',
    'gender': 'Male',
    'age': 30,
    'marital_status': 'Unmarried',
    'skills': ['Javascript', 'Node', 'React', 'Python', 'MongoDB', 'Postgres', 'AWS'],
    'city': 'Bengaluru',
    'country': 'India',
    'address': {
        'street': '2nd Main Road',
        'pincode': 560017,
    }
}

student

{'first_name': 'John',
 'last_name': 'Doe',
 'gender': 'Male',
 'age': 30,
 'marital_status': 'Unmarried',
 'skills': ['Javascript',
  'Node',
  'React',
  'Python',
  'MongoDB',
  'Postgres',
  'AWS'],
 'city': 'Bengaluru',
 'country': 'India',
 'address': {'street': '2nd Main Road', 'pincode': 560017}}

In [49]:
len(student)

9

In [50]:
print(student['skills'])
print(type(student['skills']))

['Javascript', 'Node', 'React', 'Python', 'MongoDB', 'Postgres', 'AWS']
<class 'list'>

In [51]:
student['skills'].append('Robotics')
student

{'first_name': 'John',
 'last_name': 'Doe',
 'gender': 'Male',
 'age': 30,
 'marital_status': 'Unmarried',
 'skills': ['Javascript',
  'Node',
  'React',
  'Python',
  'MongoDB',
  'Postgres',
  'AWS',
  'Robotics'],
 'city': 'Bengaluru',
 'country': 'India',
 'address': {'street': '2nd Main Road', 'pincode': 560017}}

In [52]:
student.keys()

dict_keys(['first_name', 'last_name', 'gender', 'age', 'marital_status', 'skills', 'city', 'country', 'address'])

In [53]:
student.values()

dict_values(['John', 'Doe', 'Male', 30, 'Unmarried', ['Javascript', 'Node', 'React', 'Python', 'MongoDB', 'Postgres', 'AWS', 'Robotics'], 'Bengaluru', 'India', {'street': '2nd Main Road', 'pincode': 560017}])

In [54]:
student.items()

dict_items([('first_name', 'John'), ('last_name', 'Doe'), ('gender', 'Male'), ('age', 30), ('marital_status', 'Unmarried'), ('skills', ['Javascript', 'Node', 'React', 'Python', 'MongoDB', 'Postgres', 'AWS', 'Robotics']), ('city', 'Bengaluru'), ('country', 'India'), ('address', {'street': '2nd Main Road', 'pincode': 560017})])

In [56]:
student.pop('marital_status')

'Unmarried'

In [57]:
employee = {
    'id': '1001',
    'name': 'John Doe'
}
employee

{'id': '1001', 'name': 'John Doe'}

In [58]:
del employee

In [59]:
employee

NameError: name 'employee' is not defined