## Functions

In [1]:
def generate_full_name():
    first_name = 'John'
    last_name = 'Doe'
    return first_name + ' ' + last_name

In [2]:
generate_full_name()

'John Doe'

In [4]:
def add_two_numbers(a:int, b:int) -> int:
    return a + b

In [5]:
add_two_numbers(10, 20)

30

In [6]:
def area_of_circle(r):
    PI = 3.14
    area = PI * r ** 2
    return area

In [7]:
area_of_circle(4)

50.24

In [14]:
def sum_of_numbers(n):
    total = 0
    for i in range(n+1):
        total += i
    return total

In [15]:
sum_of_numbers(10)

55

In [16]:
def greeting(name = 'John'):
    return f'Hello {name}'

In [19]:
print(greeting())
print(greeting('Peter'))
print(greeting('Jessica'))

Hello John
Hello Peter
Hello Jessica

#### Arbitrary Number of Arguments

In [22]:
def sum_of_numbers(*nums):
    total = 0
    for num in nums:
        total += num
    return total

In [23]:
sum_of_numbers(2,3,4,6)

15

In [30]:
def generate_group(team, *args):
    print(f'{team}:')
    for i in args:
        print(i)

In [31]:
generate_group('Team-1', 'John', 'Peter', 'Jessica', 'Max')

Team-1:
John
Peter
Jessica
Max

In [32]:
def square_number(n):
    return n * n

def do_something(f, x):
    return f(x)

In [33]:
do_something(square_number, 5)

25

#### Exercises:

In [34]:
def add_two_numbers(a:int, b:int) -> int:
    return a + b

add_two_numbers(20, 30)

50

In [35]:
def area_of_circle(r: float):
    PI = 3.14
    return PI * r ** 2

area_of_circle(4)

50.24

In [45]:
def add_all_nums(*args):
    total = 0
    for arg in args:
        if not isinstance(arg, (int, float)):
            return f'Invalid input: {arg} is not a number.'
        total += arg
    
    return total
    
add_all_nums(1,2,3,4,5)

15

In [50]:
def add_item(food_staff, item):
    items = list()
    for staff in food_staff:
        items.append(staff)

    items.append(item)
    return items

food_staff = ['Potato', 'Tomato', 'Mango', 'Milk']
print(add_item(food_staff, 'Meat'))

['Potato', 'Tomato', 'Mango', 'Milk', 'Meat']

In [55]:
def remove_item(food_staff: list, item: str):
    food_staff.remove(item)
    return food_staff
    
food_staff = ['Potato', 'Tomato', 'Mango', 'Milk']
print(remove_item(food_staff, 'Mango'))

['Potato', 'Tomato', 'Milk']

In [57]:
def sum_of_numbers(num):
    total = 0
    for i in range(num+1):
        total += i
        
    return total

print(sum_of_numbers(5))
print(sum_of_numbers(10))
print(sum_of_numbers(100))

15
55
5050

In [60]:
def sum_of_odds(*nums):
    total = 0
    for num in nums:
        if num % 2 != 0:
            total += num        
    return total

def sum_of_evens(*nums):
    total = 0
    for num in nums:
        if num % 2 == 0:
            total += num 
    return total

print(sum_of_odds(1,2,3,4,5,6,7,8,9))
print(sum_of_evens(1,2,3,4,5,6,7,8,9))

25
20

In [65]:
def evens_and_odds(num):
    even_total = 0
    odd_total = 0
    for n in range(num+1):
        if n % 2 == 0:
            even_total += 1
        else:
            odd_total += 1

    print(f'The number of odds are: {odd_total}')
    print(f'The number of evens are: {even_total}')
    return
            
print(evens_and_odds(100))

The number of odds are: 50
The number of evens are: 51
None