## List Operations

In [2]:
l = []

In [3]:
type(l)

list

In [4]:
l = [3,4,5,6,45,56,34+67j, True, 'John']
l

[3, 4, 5, 6, 45, 56, (34+67j), True, 'John']

In [5]:
l[0]

3

In [6]:
l[-1]

'John'

In [7]:
l[0:5]

[3, 4, 5, 6, 45]

In [8]:
l[0:8:2]

[3, 5, 45, (34+67j)]

In [9]:
l[::-1]

['John', True, (34+67j), 56, 45, 6, 5, 4, 3]

In [10]:
for i in l:
    print(i)

3
4
5
6
45
56
(34+67j)
True
John

In [14]:
for i in l:
    if type(i) == int and i > 10:
        print(i)

45
56

In [15]:
l.append(56)
l

[3, 4, 5, 6, 45, 56, (34+67j), True, 'John', 56]

In [16]:
l.append('Bengaluru')
l

[3, 4, 5, 6, 45, 56, (34+67j), True, 'John', 56, 'Bengaluru']

In [18]:
l.insert(5, False)
l

[3, 4, 5, 6, 45, False, 56, (34+67j), True, 'John', 56, 'Bengaluru']

In [19]:
l.extend(4)

TypeError: 'int' object is not iterable

In [20]:
l.extend([1,2,3,7])
l

[3,
 4,
 5,
 6,
 45,
 False,
 56,
 (34+67j),
 True,
 'John',
 56,
 'Bengaluru',
 1,
 2,
 3,
 7]

In [21]:
l.pop()
l

[3, 4, 5, 6, 45, False, 56, (34+67j), True, 'John', 56, 'Bengaluru', 1, 2, 3]

In [22]:
l.pop(5)
l

[3, 4, 5, 6, 45, 56, (34+67j), True, 'John', 56, 'Bengaluru', 1, 2, 3]

In [23]:
l.pop(100)

IndexError: pop index out of range

In [24]:
l.remove(100)

ValueError: list.remove(x): x not in list

In [25]:
l.remove(56)
l

[3, 4, 5, 6, 45, (34+67j), True, 'John', 56, 'Bengaluru', 1, 2, 3]

In [26]:
l.count(3)

2

In [27]:
l.index(45)

4

In [28]:
l.index(500)

ValueError: 500 is not in list

In [29]:
l = [1, 2, 3, 4, 5]

l1 = l
print(l1)

[1, 2, 3, 4, 5]

In [30]:
l1[0] = 10
l1

[10, 2, 3, 4, 5]

In [31]:
l

[10, 2, 3, 4, 5]

In [33]:
l = [1,2,3,4,5]
l1 = l.copy()

l1[0] = 10

print(l)
print(l1)

[1, 2, 3, 4, 5]
[10, 2, 3, 4, 5]