## Loops

In [5]:
count = 0
while count < 5:
    print(count)
    count += 1

0
1
2
3
4

In [9]:
count = 0
while count < 5:
    print(count)
    count += 1
else:
    print(count)

0
1
2
3
4
5

In [11]:
count = 0
while count < 5:
    print(count)
    count += 1
    if count == 3:
        break

0
1
2

In [12]:
count = 0
while count < 5:
    if count == 3:
        count += 1
        continue
    print(count)
    count = count + 1

0
1
2
4

In [13]:
numbers = [0, 1, 2, 3, 4, 5]

for number in numbers:
    print(number)

0
1
2
3
4
5

In [14]:
language = 'Python'

for letter in language:
    print(letter)

P
y
t
h
o
n

In [15]:
language = 'Python'

for i in range(len(language)):
    print(language[i])

P
y
t
h
o
n

In [16]:
numbers = (0, 1, 2, 3, 4, 5)

for number in numbers:
    print(number)

0
1
2
3
4
5

In [17]:
person = {
    'first_name':'John',
    'last_name':'Doe',
    'age':250,
    'country':'India',
    'is_marred':True,
    'skills':['JavaScript', 'React', 'Node', 'MongoDB', 'Python'],
    'address':{
        'street':'Space street',
        'zipcode':'02210'
    }
}
person

{'first_name': 'John',
 'last_name': 'Doe',
 'age': 250,
 'country': 'India',
 'is_marred': True,
 'skills': ['JavaScript', 'React', 'Node', 'MongoDB', 'Python'],
 'address': {'street': 'Space street', 'zipcode': '02210'}}

In [18]:
for key in person:
    print(key)

first_name
last_name
age
country
is_marred
skills
address

In [22]:
for key, value in person.items():
    print(key, ': ', value)

first_name :  John
last_name :  Doe
age :  250
country :  India
is_marred :  True
skills :  ['JavaScript', 'React', 'Node', 'MongoDB', 'Python']
address :  {'street': 'Space street', 'zipcode': '02210'}

In [23]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}

for company in it_companies:
    print(company)

Amazon
Apple
Google
Oracle
Facebook
Microsoft
IBM

In [24]:
numbers = (0,1,2,3,4,5)

for number in numbers:
    print(number)
    if number == 3:
        break

0
1
2
3

In [29]:
numbers = (0,1,2,3,4,5)

for number in numbers:
    print(number)
    if number == 3:
        continue
    print('Next number should be ', number + 1) if number != 5 else print("loop's end")
print('outside the loop')

0
Next number should be  1
1
Next number should be  2
2
Next number should be  3
3
4
Next number should be  5
5
loop's end
outside the loop

In [31]:
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [32]:
person = {
    'first_name':'John',
    'last_name':'Doe',
    'age':250,
    'country':'India',
    'is_marred':True,
    'skills':['JavaScript', 'React', 'Node', 'MongoDB', 'Python'],
    'address':{
        'street':'Space street',
        'zipcode':'02210'
    }
}
person

{'first_name': 'John',
 'last_name': 'Doe',
 'age': 250,
 'country': 'India',
 'is_marred': True,
 'skills': ['JavaScript', 'React', 'Node', 'MongoDB', 'Python'],
 'address': {'street': 'Space street', 'zipcode': '02210'}}

In [39]:
for key in person:
    if key == 'skills':
        for skill in person['skills']:
            print(skill)

JavaScript
React
Node
MongoDB
Python

In [40]:
for number in range(11):
    print(number)
else:
    print('The loop stops at', number)

0
1
2
3
4
5
6
7
8
9
10
The loop stops at 10

In [41]:
for number in range(6):
    pass

In [49]:
total = 0
for i in range(101):
    total += i
    
print(total)

5050

In [51]:
even = 0
odd = 0
for i in range(101):
    if i % 2 == 0:
        even += i
    else:
        odd += i
        
print(f'The sum of all evens is {even}. And the sum of all odds is {odd}.')

The sum of all evens is 2550. And the sum of all odds is 2500.

In [ ]:
countries = [
  'Afghanistan',
  'Albania',
  'Algeria',
  'Andorra',
  'Angola',
  'Antigua and Barbuda',
  'Argentina',
  'Armenia',
  'Australia',
  'Austria',
  'Azerbaijan',
  'Bahamas',
  'Bahrain',
  'Bangladesh',
  'Barbados',
  'Belarus',
  'Belgium',
  'Belize',
  'Benin',
  'Bhutan',
  'Bolivia',
  'Bosnia and Herzegovina',
  'Botswana',
  'Brazil',
  'Brunei',
  'Bulgaria',
  'Burkina Faso',
  'Burundi',
  'Cambodia',
  'Cameroon',
  'Canada',
  'Cape Verde',
  'Central African Republic',
  'Chad',
  'Chile',
  'China',
  'Colombi',
  'Comoros',
  'Congo (Brazzaville)',
  'Congo',
  'Costa Rica',
  "Cote d'Ivoire",
  'Croatia',
  'Cuba',
  'Cyprus',
  'Czech Republic',
  'Denmark',
  'Djibouti',
  'Dominica',
  'Dominican Republic',
  'East Timor (Timor Timur)',
  'Ecuador',
  'Egypt',
  'El Salvador',
  'Equatorial Guinea',
  'Eritrea',
  'Estonia',
  'Ethiopia',
  'Fiji',
  'Finland',
  'France',
  'Gabon',
  'Gambia, The',
  'Georgia',
  'Germany',
  'Ghana',
  'Greece',
  'Grenada',
  'Guatemala',
  'Guinea',
  'Guinea-Bissau',
  'Guyana',
  'Haiti',
  'Honduras',
  'Hungary',
  'Iceland',
  'India',
  'Indonesia',
  'Iran',
  'Iraq',
  'Ireland',
  'Israel',
  'Italy',
  'Jamaica',
  'Japan',
  'Jordan',
  'Kazakhstan',
  'Kenya',
  'Kiribati',
  'Korea, North',
  'Korea, South',
  'Kuwait',
  'Kyrgyzstan',
  'Laos',
  'Latvia',
  'Lebanon',
  'Lesotho',
  'Liberia',
  'Libya',
  'Liechtenstein',
  'Lithuania',
  'Luxembourg',
  'Macedonia',
  'Madagascar',
  'Malawi',
  'Malaysia',
  'Maldives',
  'Mali',
  'Malta',
  'Marshall Islands',
  'Mauritania',
  'Mauritius',
  'Mexico',
  'Micronesia',
  'Moldova',
  'Monaco',
  'Mongolia',
  'Morocco',
  'Mozambique',
  'Myanmar',
  'Namibia',
  'Nauru',
  'Nepal',
  'Netherlands',
  'New Zealand',
  'Nicaragua',
  'Niger',
  'Nigeria',
  'Norway',
  'Oman',
  'Pakistan',
  'Palau',
  'Panama',
  'Papua New Guinea',
  'Paraguay',
  'Peru',
  'Philippines',
  'Poland',
  'Portugal',
  'Qatar',
  'Romania',
  'Russia',
  'Rwanda',
  'Saint Kitts and Nevis',
  'Saint Lucia',
  'Saint Vincent',
  'Samoa',
  'San Marino',
  'Sao Tome and Principe',
  'Saudi Arabia',
  'Senegal',
  'Serbia and Montenegro',
  'Seychelles',
  'Sierra Leone',
  'Singapore',
  'Slovakia',
  'Slovenia',
  'Solomon Islands',
  'Somalia',
  'South Africa',
  'Spain',
  'Sri Lanka',
  'Sudan',
  'Suriname',
  'Swaziland',
  'Sweden',
  'Switzerland',
  'Syria',
  'Taiwan',
  'Tajikistan',
  'Tanzania',
  'Thailand',
  'Togo',
  'Tonga',
  'Trinidad and Tobago',
  'Tunisia',
  'Turkey',
  'Turkmenistan',
  'Tuvalu',
  'Uganda',
  'Ukraine',
  'United Arab Emirates',
  'United Kingdom',
  'United States',
  'Uruguay',
  'Uzbekistan',
  'Vanuatu',
  'Vatican City',
  'Venezuela',
  'Vietnam',
  'Yemen',
  'Zambia',
  'Zimbabwe',
]

In [54]:

for country in countries:
    if 'land' in country:
        print(country)

Finland
Iceland
Ireland
Marshall Islands
Netherlands
New Zealand
Poland
Solomon Islands
Swaziland
Switzerland
Thailand