## Sets

#### Creating a Set

In [1]:
st = set()
st

set()

In [2]:
fruits = {'banana', 'orange', 'mango', 'lemon'}
fruits

{'banana', 'lemon', 'mango', 'orange'}

In [3]:
type(fruits)

set

In [4]:
len(fruits)

4

In [6]:
print('mango' in fruits)
print('apple' in fruits)

True
False

#### Adding Items to a Set

In [7]:
fruits = {'banana', 'orange', 'mango', 'lemon'}

fruits.add('lime')
fruits

{'banana', 'lemon', 'lime', 'mango', 'orange'}

In [8]:
fruits = {'banana', 'orange', 'mango', 'lemon'}
vegetables = ('tomato', 'potato', 'cabbage','onion', 'carrot')

fruits.update(vegetables)
fruits

{'banana',
 'cabbage',
 'carrot',
 'lemon',
 'mango',
 'onion',
 'orange',
 'potato',
 'tomato'}

#### Removing Items from a Set

In [9]:
fruits = {'banana', 'orange', 'mango', 'lemon'}

fruits.pop()

'banana'

In [10]:
fruits = {'banana', 'orange', 'mango', 'lemon'}

removed_fruit = fruits.pop()
removed_fruit

'banana'

#### Clearing Items in a Set

In [11]:
fruits = {'banana', 'orange', 'mango', 'lemon'}

fruits.clear()
fruits

set()

#### Deleting a Set

In [12]:
fruits = {'banana', 'orange', 'mango', 'lemon'}

del fruits

In [13]:
fruits

NameError: name 'fruits' is not defined

#### Converting List to Set

In [14]:
# list
fruits = ['banana', 'orange', 'mango', 'lemon','orange', 'banana']

fruits = set(fruits)
fruits

{'banana', 'lemon', 'mango', 'orange'}

In [15]:
type(fruits)

set

#### Joining Sets

In [17]:
fruits = {'banana', 'orange', 'mango', 'lemon'}
vegetables = {'tomato', 'potato', 'cabbage','onion', 'carrot'}

fruits.union(vegetables)

{'banana',
 'cabbage',
 'carrot',
 'lemon',
 'mango',
 'onion',
 'orange',
 'potato',
 'tomato'}

In [18]:
fruits.intersection(vegetables)

set()

In [21]:
fruits = {'banana', 'orange', 'mango', 'lemon'}
vegetables = {'tomato', 'potato', 'cabbage','onion', 'carrot'}

fruits.update(vegetables)
fruits

{'banana',
 'cabbage',
 'carrot',
 'lemon',
 'mango',
 'onion',
 'orange',
 'potato',
 'tomato'}

In [22]:
whole_numbers = {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
even_numbers = {0, 2, 4, 6, 8, 10}

whole_numbers.intersection(even_numbers)

{0, 2, 4, 6, 8, 10}

#### Checking Subset and Super Set

In [23]:
whole_numbers = {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
even_numbers = {0, 2, 4, 6, 8, 10}

whole_numbers.issubset(even_numbers)

False

In [24]:
whole_numbers.issuperset(even_numbers)

True

#### Checking the Difference Between Two Sets

In [25]:
whole_numbers = {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
even_numbers = {0, 2, 4, 6, 8, 10}

whole_numbers.difference(even_numbers)

{1, 3, 5, 7, 9}

#### Finding Symmetric Difference Between Two Sets

In [26]:
whole_numbers = {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
some_numbers = {1, 2, 3, 4, 5}

whole_numbers.symmetric_difference(some_numbers)

{0, 6, 7, 8, 9, 10}

#### Joining Sets

In [27]:
even_numbers = {0, 2, 4 ,6, 8}
odd_numbers = {1, 3, 5, 7, 9}

even_numbers.isdisjoint(odd_numbers)

True

#### Exercises