## Tuples

In [ ]:
empty_tuple = ()

print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [5]:
empty_tuple = tuple()

print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [7]:
fruits = ('banana', 'orange', 'mango', 'lemon')

print(fruits)
print(type(fruits))

('banana', 'orange', 'mango', 'lemon')
<class 'tuple'>

In [8]:
len(fruits)

4

#### Accessing Tuple Items

In [10]:
fruits = ('banana', 'orange', 'mango', 'lemon')

first_fruit = fruits[0]
second_fruit = fruits[1]

last_index = len(fruits) - 1
last_fruit = fruits[last_index]

print('First Fruit: ', first_fruit)
print('Second Fruit: ', second_fruit)
print('Last Fruit', last_fruit)

First Fruit:  banana
Second Fruit:  orange
Last Fruit lemon

- `Negative indexing`

In [12]:
fruits = ('banana', 'orange', 'mango', 'lemon')

print('First Fruit: ', fruits[-4])
print('Second Fruit: ', fruits[-3])
print('Last Fruit', fruits[-1])

First Fruit:  banana
Second Fruit:  orange
Last Fruit lemon

#### Slicing tuples

In [17]:
fruits = ('banana', 'orange', 'mango', 'lemon')

all_fruits = fruits[:]
print('All Fruits: ', all_fruits)

orange_mango = fruits[1:3]
print('Orange And Mango: ', orange_mango)

orange_to_the_rest = fruits[1:]
print(orange_to_the_rest)

All Fruits:  ('banana', 'orange', 'mango', 'lemon')
Orange And Mango:  ('orange', 'mango')
('orange', 'mango', 'lemon')

#### Changing Tuples to Lists

In [18]:
fruits = ('banana', 'orange', 'mango', 'lemon')

fruits = list(fruits)
print(fruits)
print(type(fruits))

['banana', 'orange', 'mango', 'lemon']
<class 'list'>

In [19]:
fruits[0] = 'apple'
fruits = tuple(fruits)

print(fruits)
print(type(fruits))

('apple', 'orange', 'mango', 'lemon')
<class 'tuple'>

#### Checking an Item in a Tuple

In [21]:
fruits = ('banana', 'orange', 'mango', 'lemon')

print('banana' in fruits)
print('apple' in fruits)

True
False

In [22]:
fruits[0] = 'apple'

TypeError: 'tuple' object does not support item assignment

#### Joining Tuples

In [23]:
fruits = ('banana', 'orange', 'mango', 'lemon')
vegetables = ('Tomato', 'Potato', 'Cabbage','Onion', 'Carrot')

fruits_and_vegetables = fruits + vegetables
fruits_and_vegetables

('banana',
 'orange',
 'mango',
 'lemon',
 'Tomato',
 'Potato',
 'Cabbage',
 'Onion',
 'Carrot')

#### Deleting Tuples

In [26]:
fruits = ('banana', 'orange', 'mango', 'lemon')

del fruits

In [27]:
fruits

NameError: name 'fruits' is not defined